In [49]:
import pandas as pd
import numpy as np
import scipy as sp
#import zip as zp
import sqlite3

In [50]:
from scipy import linalg
from scipy import stats
from scipy.stats import norm

In [51]:
create_table = """
CREATE TABLE student_score
(Id INTEGER, Name VARCHAR(20), Math REAL, Science REAL);"""

In [52]:
insertSQL = [(10, 'Jack', 85, 92), (29, 'TOM', 73,89),
             (65, 'Ram', 65.5, 77),
             (5, 'Steve', 55, 91)]
insert_statement = "Insert into student_score values(?,?,?,?)"

In [53]:
A = executeSQL.executemany(insert_statement, insertSQL)
B = executeSQL.commit()
B

In [55]:
#executeSQL = sqlite3.connect(':memory:')
#executeSQL.execute(create_table)
executeSQL.commit()

In [56]:
SQL_query = executeSQL.execute('select * from student_score')

In [57]:
resultset = SQL_query.fetchall()
resultset

[(10, 'Jack', 85.0, 92.0),
 (29, 'TOM', 73.0, 89.0),
 (65, 'Ram', 65.5, 77.0),
 (5, 'Steve', 55.0, 91.0),
 (10, 'Jack', 85.0, 92.0),
 (29, 'TOM', 73.0, 89.0),
 (65, 'Ram', 65.5, 77.0),
 (5, 'Steve', 55.0, 91.0)]

In [58]:
df_student_records = pd.DataFrame(resultset, coloumns=list(zip(*SQL_query.description)[0]))
df_student_records

TypeError: 'zip' object is not subscriptable